
<html>

  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  </head>

  <body>
    <form action="{% url 'x' %}" method="post">
      <p id="x1"> Hello </p>
      <br>
      <br>
      <input type="text" name="title" id="title"/>
      <input type="submit" value="Send"/>
    </form>

    <br>
    <br>
    <br>
    <br>

    <p id="x"> hi {{name}}</p>
    <br>
    <br>
    <input type="text"/>
    <input type="button" value="Send"/>
  </body>

</html>
