
<html>

  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  </head>

  <body>
    <form action="{% url 'x' %}" method="post">
      {% csrf_token %}
      <p id="x1"> Hello </p>
      <br>
      <br>
      <input type="text" name="title" id="title"/>
      <input type="submit" value="Send"/>

      <br>
      <br>
      <br>
      <br>

      <textarea id="person2" rows="10" cols="10"> hi {{name}}</p>
      <br>
      <br>
      <input type="text"/>
      <input type="button" value="Send"/>
  </form>
  </body>

</html>
