<!DOCTYPE html>
<html>

  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <meta charset="utf-8">
  </head>

  <body>

    <form action="{% url 'x' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Clear"/>
    </form>

    <br>
    
    <form action="{% url 'x1' %}" method="post">
      {% csrf_token %}

      <textarea rows="10" cols="60" >{{text1}}</textarea>
      <br>
      <br>
      <input type="text" name="title" />
      <input type="submit" value="Send"/>
    </form>

      <br>
      <br>
      <br>
      <br>

    <form action="{% url 'x2' %}" method="post">
      {% csrf_token %}
      <textarea rows="10" cols="60" >{{text2}}</textarea>
      <br>
      <br>
      <input type="text" name="title4" />
      <input type="submit" value="Send"/>
    </form>
  </body>

</html>
