{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<div class="jumbotron text-center">
  <div class="container">

<div class="panel panel-default" style="width:49%; float:left; margin-top:5%">
  <div class="panel-heading" >
      <h4><b>Current Language:</b> {{lan2}}</h4>
  </div>
  <div class="panel-body">
    <form action="{% url 'x1' %}" method="post" >
      {% csrf_token %}
      <textarea rows="10" cols="60" class="form-control" readonly style="background-color:#FFF !important;">{{text1}}</textarea>
      <br>
      <br>
      <input type="text" name="title" id="title" class="form-control"/>
      <br>
      <button type="submit" class="btn btn-primary " style="float:right">
        <span class="glyphicon glyphicon-send" >&nbsp;Send</span>
      </button>
      </form>
  </div>
</div>

<div class="panel panel-default" style="width:49%; float:right; margin-top:5%">
  <div class="panel-heading" >
     <h4><b>Current Language:</b> {{lan1}} </h4>
  </form>
 </div>
 <div class="panel-body">
   <form action="{% url 'x2' %}" method="post" >
     {% csrf_token %}
     <textarea rows="10" cols="60" class="form-control" readonly style="background-color:#FFF !important;">{{text2}}</textarea>
     <br>
     <br>
     <input type="text" name="title2" id="title2" class="form-control"/>
     <br>
     <button type="submit" class="btn btn-primary" style="float:right">
       <span class="glyphicon glyphicon-send" >&nbsp;Send</span>
     </button>
     </form>
 </div>
</div>

  </div>
  </div>
<br>
<div style="text-align:center">
  <span style="display:inline-block">
    <a href="https://ufl.qualtrics.com/jfe/form/SV_bezKtFkljlBWuRT" target="_blank" class="btn btn-lg btn-success">
      <span class="glyphicon glyphicon-star"><b>&nbsp;Complete-Survey</b></span></a>
    </a>
  </span>
  <span style="display:inline-block">
  <form action="{% url 'x' %}" method="post" >
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-lg">
      <span class="glyphicon glyphicon-trash">&nbsp;<b>Clear-Chat</b></span>
    </button>
  </form>
</span>
</div>

    {% endblock %}
